{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.28.20"}
        clj-time/clj-time {:mvn/version "0.15.2"}}
 :aliases {:test {:extra-paths ["src/test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner" "-d" "src/test"]}}}
