@font-face {
    font-family: "Data 70";
    src: url("../fonts/Data_70_LET.ttf");
}
body {
    display: none;
    font-family: "Data 70";
    background-color: #000;
}
h1, h2, h3, p, label {
    margin: 0;
    color: #3ef74e;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
p  {
    font-size: 18px;
}
.centerer {
    margin: auto;
    width: 650px;
}
.instruction-box {
    height: 95px;
    overflow: hidden;
    -moz-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
#canvas {
    width: 600px;
    height: 600px;
    border: solid #3ef74e 5px;
    border-radius: 15px;
    background-color: black;
    opacity: 0;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;

}
#programsInput {
    display: block;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0;
    background-color: #000;
    color: #3ef74e;
    font-family: "Data 70";
    font-size: 24px;
    border: 0;
}
